#title, #wallet-app, .section h4, #public-key, #private-key {
	text-align: center;
}

#public-key, #private-key {
	word-wrap: break-word;
}

.section {
	max-width: 400px;
	margin: 16px auto;
}

small {
	word-wrap: normal;
}

#generate {
	display: block;
	margin: 16px auto;
}
